h1{
    color:white;
    text-align: center ;
    position: relative ;
}
body{
    color: black ;
    margin: 6% auto ;
    background-image: url(./Blog_background.png) ;
    background-size: 100% 100%
}
article{
    margin: 20px 100px 20px ;
    color: black ; 
    text-align: center ;
    background-color: grey ;

}

footer{
    margin: 20px 100px 20px;
    color: black ;
    font-size: 20px ;
    text-align: center ;
}