nav{
    text-align: center;
}
nav > a {
    height: 10%; 
    width: 15%;
    color: rgb(211, 21, 21);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    border-radius: 25px;
    background: white !important ;
    padding: 20px; 
    text-align: inherit;
    border: 2px solid white;
}
.has-border {
    border-radius: 25px;
    border: 2px solid rgb(0, 0, 0) !important;
    background: none;
    padding: 20px; 
  }
  
h1{
    color: inherit ;
    text-align: center ;
    position: relative ;

}
body{
    color: black ;
    margin: 6% auto ;
    background-image: url(images/Blog_background.png) ;
    background-size: 100% 100%
}
article{ margin: 20px 100px 20px ;
    color: black ; 
    text-align: center ;
    background-color: grey ;
    font-size: 15px;
}

article:first-letter {
    font-size: 100%;
}
article:hover:first-letter {
    color: white;
    font-size: 150% !important;
}
h2{
    font-size: 25px ;
    color: black ;
    background-color: red
}
h3{
    font-size: 15px;
    color: white ;
    background-color: black ;
}
footer{
    margin: 20px 100px 20px;
    color: black ;
    font-size: 20px ;
    text-align: right ;
}
