  main {
    margin: 5%;
  }
  body{
    background-image: url(/myportfolio/src/images/Dashboardpic.jpg);
    width: 99%;
  }
  .container {
    display: grid; 
    grid-template-columns: 50% 50%;
    grid-template-areas: 
    "greeting  greeting"
    "todo      clock"
    "todo      calculator";
    height: 100%;
    width: 100%;
    justify-content: center;
    margin: 10% 10% ;
  }
.calculator {
  grid-area: calculator;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr ;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-areas:
  "calcnum calcnum calcnum display display display"
  "calcnum calcnum calcnum calcfunc calcfunc calcfunc"
  "calcnum calcnum calcnum calcfunc calcfunc calcfunc"
  "calcnum calcnum calcnum calcfunc calcfunc calcfunc";
  width: 35%;
  height: 50%;
  border-top: 2px solid black;
  border-left: 2px solid black;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  padding: 0px 0px 35px;
}
.calc-bn{
    grid-column: 1 / 4;
    grid-row: 1 / 5; 
    display: grid;
    grid-area: calcnum;
    grid-template-columns: 1fr 1fr 1fr;
    height: 137.5px; 
    width: 70px;
    grid-column-gap: 25%;
    grid-template-areas: 
    "seven eight nine"
    "four five six"
    "one two three"
    "none zero none2";
    margin: 0px 5% 0px 5%;
}
.calc-bn-func{
   grid-column: 4 / 7;
    grid-row: 3 / 5;
   grid-area: calcfunc;
}
.display{
    grid-column: 4 / 7;
    grid-row: 1 / 3;
    grid-area: display;
    justify-content: flex-end;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
    border-left: 2px solid black;
  }
.todo {
  grid-area: todo;
  width: 75%;
}
.greeting {
  grid-area: greeting;
  display: flex;
  justify-content: flex-start;
}
.clock {
  grid-area: clock;
  display: flex;
  flex-wrap: wrap;
  width: 30%;
  height: 100%;
  background-color: aliceblue;
}
