header{
    background-color: grey;
    opacity: .75;
}
main{
    font-family: 'Open Sans', sans-serif;
}
.section_1{
    background-color: skyblue;
    height:400px;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    margin: auto;
    align-items: center;
}
.section_2{
    display: flex;
    background-color: darkgrey;
    text-align: center;
    height: 400px;
    padding: 20px;
    align-items: center;
    
}
.bacon{
    padding: 10%
}
.bluebox{
    height: 30px;
    width: 150px;
    display: flex;
    background-color: blue;
    margin: auto;
    border: solid .5px black;
}
.orangebox{
    height: 30px;
    width: 150px;
    background-color: orange;
    margin: auto;
    border: solid .5px black;
}
.tealbox{
    height: 30px;
    width: 150px;
    background-color: teal;
    margin: auto;
    border: solid .5px black;
}
@media (max-width: 420px){
    .section_2{
        flex-direction: column;
        height: 700px;
    }
    .bacon{
        padding: 15%;
    }
}